

/* For large devices */
@media screen and (min-width: 1024px) {

    .header,
    .main,
    .footer__container {
      padding: 0;
    }
  
    .home__blob {
      width: 320px;
    }
  
    .home__social {
      transform: translateX(-6rem);
    }
  
    .services__container {
      grid-template-columns: repeat(3, 238px);
    }
  
    .swiper-error {
      visibility: visible;
    }
  
    .portfolio__content {
      column-gap: 5rem;
    }
  
    .swiper-portfolio-icon {
      font-size: 3.5rem;
    }
  
    .swiper-button-prev {
      left: -3.5rem;
    }
  
    .swiper-button-next {
      right: -3.5rem;
    }
  
    .swiper-container-horizontal>.swiper-pagination-bullets {
      bottom: -4.5rem;
    }
  
  
    .contact__inputs {
      grid-template-columns: repeat(2, 1fr);
    }
  }

@media screen and (max-width:770px) {
    .progress-container {
        top: 0rem;
        height: 6px;
    }
}

@media screen and (max-width:900px) {
    .rate-popup{
      width: 90%;
    }
    .rate-popup input{
      width: 90%;
      margin: 0 auto;
    }
    .home__title h1{
      font-size: 4rem;
    }
    .Animations,.header .nav__menu,.header .nav__logo,.Toastify,.container-projects .tags,.home__social,.contact__subtitle{
        display: none;
    }
    .about img{
      width: 90%;
    }
    .about__description{
      font-size: 1rem;
    }
    body{
        width: 100%;
        text-align: center; 
        
        word-wrap: break-word;
    }
    .home_title span{
        display: block;
    }   
    .home .button-section  .button-section{
      flex-direction: column;
    }
    .home .main-name{
      font-size: 7rem;
    }
    #home{
      margin-top: -10rem;
    }
    .contact{
        width: 100%;
        word-wrap: break-word;
    }
    .contact__content{
        width: 80%;
    }
    .contact__information{
        width: 80%;
        word-wrap: break-word;
    }
    .main{
        width: 100%;
        text-align: center;
    }
    .button-section{
        margin: 0 auto;
        flex-direction: column;
    }
    .home_section{
        display: flex;
        justify-content: center;   
    }
    .home__container{
        width: 100%;
        margin: 0 ;
        padding:0;
  
    }
    .button-section .button{
        text-align: center;
    }
    .scroll-rate{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .about{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about__container,.skills__container{
        width: 100%;
        margin: 0 auto;
    }
    .about__container {
      flex-direction: column;
    }
    .about__container img{
        margin: 0 auto;
    }
    .skills img{
        width: 6vw;
        height: 4vh;
    }
    .skills__container{
        padding: 0 10vw;
    }
    
    .container-projects .project{
        width: 90vw;
        height: 21vh;
        overflow: hidden;
    }
    .container-projects .project{
        display: grid;
        grid-template-columns: 40% 60%;
    }
    
    .project img{
        width : 35vw;
        height: 15vh;
    }
    .container-projects .project .tags{
        display: none;
    }
    .container-projects .project .info{
        width: 100%;
    }
    .container-projects .project .content{
        height: 10vh;
        overflow: hidden;
    }
    .section__title{
        font-size: 2.1rem;
    }
    .contact__icon{
        display: none;
    }
    .contact__subtitle{
        display: block;
    }
    .contact{
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .contact .container{
        width: 100%;
        margin: 0 auto;
    }
    .contact__information{
        margin: 0;
    }
    .contact__container div,.footer-container {
        width: 100%;
        margin: 0 auto;
        word-wrap: break-word;
    }
    .contact__subtitle{
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
        color:#5779e0;
    }
    .contact__subtitle a{
        color: #5779e0;
    }
    .footer-follow-icons{
        display: flex;
    }
    .new_footer_top .f_social_icon {
        width: 100%;
        display: flex;
        justify-content: center;
  
    }
    .new_footer_top .f_social_icon a{
        border: none;
        font-size: 2rem;
    }
    .footer-container .highlight{
        margin-top: 5vh;
        font-size: 1.4rem;    
    }
    .f_widget{
        margin-top: 5vh;
    }
    .new_footer_top button{
        display: none;
    }
    .new_footer_top{
        padding-top: 0rem;
    }
    body{
        font-size: 1.2rem;
    }
    .home .button-section .button{
        width: 210px;
        text-align: center;
    }
    .about img{
      height: 35vh;
      margin-bottom: 1.2rem;
    }
    .project .title span{
        font-size: 1.35rem;
    }
    .project .info .content{
        font-size: 1.1rem;
        margin: 0.4rem;
    }
    .home__content{
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .home__content .home__img{
        margin: 0 auto;
    }
    .home .img-con{
        width: 16rem;
        height: 16rem;
    }
    #home{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home__img img{
        border-radius: 50%;
        width: 17rem;
        height: 17rem;
    }
    .nav__btns{
        display: block;
        position: absolute;
        top: 1rem;
        right: -0.7rem;
    }
    .nav__btns i{
        font-size: 1.6rem;
        z-index: 100000;
        position: relative;
    }
    
    .home_title .welcome{
        margin-top: 1rem;
        }
    .home_title .full-name{
        font-size: 2rem;
    }
    .home_title .main-name{
        margin-bottom: 0.8vh;
    }
  }
